<% unless @inactive_curriculums.empty? %>
	<div class="i-cont"><h3>Inactive Curriculums</h3></div>
  <div class="panel clearfix">
    <ul class="side-nav">
      <% @inactive_curriculums.each do |curriculum| %>
        <li><%= link_to curriculum.name, curriculum_path(curriculum) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
	<div class="i-cont"><h3>No Inactive Curriculums</h3></div>
<% end %>