<!-- guests can't see student profiles -->
<% if can? :read, Student %>
  <div class="row">
    <div class="small-7 columns">
      <!-- MAIN CONTENT GOES HERE -->
      <%= render :partial => "student_details" %>
    </div>

    <div class="small-1 columns">
      &nbsp;
    </div>

    <div class="small-4 columns">
      <!-- SIDEBAR CONTENT GOES HERE -->
      <%= render :partial => "partials/sidebar_filler", locals: { side_info: @upcoming_camps, side_type: 'Upcoming Camps' } %>
      <p>&nbsp;</p>
      <%= render :partial => "partials/sidebar_filler", locals: { side_info: @past_camps, side_type: 'Past Camps' } %>
    </div>
  </div>
<% end %>