<% unless @registrations.empty? %>
	<h5>Registrations <%= "(#{@registrations.size})" %></h5>
	<table>
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th>Age</th>
		<% if current_user && current_user.role == 'admin' %>
			<th></th> <!-- for destroy button -->
		<% end %>
		</tr>

	<% @registrations.each do |r| %>
		<tr>
			<td align="center"><%= link_to r.student.name, student_path(r.student) %></td>
			<td align="center"><%= r.student.rating == 0 ? "Unrated" : r.student.rating %></td>
			<td align="center"><%= r.student.age %></td> <!-- age is listed for guests to see -->
		<tr>
	<% end %>
	</table>

<% else %>
	<div class="panel clearfix">
		<h5>No Registrations</h5>
	</div>
<% end %>
<br />

