<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <!-- Everyone can see who teaches which camps --> <!--**** I'm changing ability, which might affect this -->
    <%= render partial: 'camp_instructors' %>
    <!-- Only admins can add or change registrations -->
    <% if can? :update, Registration %>
      <%= render partial: 'camp_registrations' %>
    <% end %>
  </div>
</div>

