<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <!-- Everyone can see who teaches which camps -->
    <%= render partial: 'camp_instructors' %>
    <!-- guests can only see pre-registration lists for upcoming camps -->
    <% if @upcoming_camps.include? @camp %>
      <%= render partial: 'camp_registrations' %>
    <% else %>
    <!-- only admins can see this information for past camps -->
      <% if can? :update, Camp %>
        <%= render partial: 'camp_registrations' %>
      <% end %>
    <% end %>
  </div>
</div>

