<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-5 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <!-- Everyone can see who teaches which camps -->
    <%= render :partial => "partials/sidebar_filler", locals: { side_info: @instructors, side_type: 'Instructors' } %>
    <%= render partial: 'camp_registrations' %>
  </div>
</div>

