<% if @inactive_families.empty? %>
	<!-- his styling: -->
	<div class="panel clearfix">
		<h5><em>There are no inactive families</em></h5>
	</div>
<% else %>
	<div class="panel clearfix"> <!-- unnecessary if above? -->
		<h5>Inactive Families</h5>
		<ul class="side-nav">
			<% @inactive_families.each do |family| %>
				<li><%= link_to "#{family.family_name}", family_path(family) %></li>
			<% end %>
		</ul>
	</div>
<% end %>