<div class="row">
  <div class="small-8 columns">
    <%= render :partial => "form" %>
  </div>
  <div class="small-1 columns">
  	&nbsp;
  </div>
  <div class="small-3 columns">
  	<h3>&nbsp;</h3> <!-- for spacing purposes -->
  	<%= image_tag 'Chess_king_render2.jpg' %>
  </div>
</div>

