<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "partials/instructor_details", locals: { instructor: @instructor } %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <!-- Guests can't see what other camps an instructor teaches -->
    <% if can? :update, Instructor %>
      <%= render partial: 'instructor_camps' %>
    <% end %>
  </div>
</div>