<h2>Welcome, <%= current_user.instructor.first_name %></h2>

<%= link_to 'Generate Payment Report', year_payment_report_path, class: "button tiny radius" %>
<div class="row">
	<div class="small-8 columns">
		<%= render partial: 'instructors' %>
	</div>

	<div class="small-4 columns">
		<%= render partial: 'upcoming_camps' %>
	</div>
</div>