<div class="row">
	<div class="small-7 columns">
		<h2>Welcome Parents and Students!</h2>
		<div class="info">
			<h5>Awesome Camp prides itself in offering top-notch chess instruction to beginner, intermediate, and expert players alike. If you think your child would be interested in learning from Alex and Mark, feel free to contact us below.</h5>
			<!-- add more text? -->
		</div>
		<div class="chess-quote">
			<% i = rand(@quotes.length) %>
			<%= "\"#{@quotes[i]}\"" %>
			<div class="author"><%= "-- #{@authors[i]}" %></div>
		</div>
	</div>
  <div class="small-1 columns">
	  &nbsp;
	</div>
  <div class="small-4 columns">
  	<h2>&nbsp;</h2>
    <%= render partial: 'upcoming_camps' %>
  </div>
</div>