<h2>Welcome, <%= current_user.instructor.first_name %></h2>
<div class="row">
	<div class="small-7 columns">
		
		<%= render partial: 'partials/instructor_details', locals: { instructor: current_user.instructor} %>
	</div>
  <div class="small-1 columns">
	  &nbsp;
	</div>
  <div class="small-4 columns">
    <%= render partial: 'upcoming_camps' %>
  </div>
</div>