<div class="row">
	<div id="footer">
		<div class="small-7 columns">
			<h2>Welcome, <%= current_user.instructor.first_name %></h2>
			<%= render partial: 'partials/instructor_details', locals: { instructor: current_user.instructor} %>
		</div>
	  <div class="small-1 columns">
		  &nbsp;
		</div>
	  <div class="small-4 columns">
	    <%= render partial: 'upcoming_camps' %>
	  </div>
	</div>
</div>