<!--** how do I write an unless without repeating the whole thing? -->
<h5>Instructors Teaching More than 4 Camps</h5>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Camps</th>
	</tr>
<% @instructors.each do |i| %>
	<% if i.camps.size > 4 %>
		<tr>
			<td><%= link_to i.name, instructor_path(i) %></td>
			<td align="center"><%= i.camps.size %></td>
		</tr>
	<% end %>
<% end %>
</table>
<span class="paginate">
<%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>