<div class="row">
	<div class="small-7 columns">
		<h1>About</h1>
		<div class="info">
			
			<h5>You might be wondering what, exactly, a chess camp is. Chess camp is much like other types of camps that are offered (rowing camp, art camp, basketball camp and the like). Students come in for a three-hour period - either a morning session (9:00am to 12:00pm) or an afternoon session (1:00pm to 4:00pm) - every day during the course of one week. During that time, they receive instruction in a particular aspect of chess and get an opportunity to play games against fellow campers. Performance on class exercises and in games gives students points that lead to trophies and ribbons at the end of the week.</h5>
		</div>
	</div>
	<div class="small-1 columns">
	  &nbsp;
	</div>
	<div class="small-4 columns">
    <div id="img"><%= image_tag 'boys_playing_at_home.JPG' %></div>
  </div>
</div>
