<div class="row">
  <div id="footer">
    <div class="small-7 columns">
      <h1>Contact Us</h1>
      <div class="info">
        <h5>Right now, this camp isn't live. Nonetheless, if you have any questions about it feel free to ask; my contact information is below.</h5>
      </div>
      <table cellpadding="3">
        <tr>
          <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
          <td>Duncan McIsaac</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
          <%= mail_to("dbm@andrew.cmu.edu", "dbm@andrew.cmu.edu", encode: "javascript") %>
          </td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>202-420-0177</td>
        </tr>
      </table>
    </div>
    <div class="small-1 columns">
      &nbsp;
    </div>
    <div class="small-4 columns">
      <div id="img"><%= image_tag 'Three-peat.jpg' %></div>
    </div>
   </div>
</div>