<div class="row">
  <div class="small-7 columns">
    <h1>Privacy Policy</h1>
    <div class="info">
      <h5>We will not share your data or information with anyone. As registration payments are mail-in, we pride ourselves on a perfect record of payment security, with the exception of that one postal service fellow who really had it in for us. We'll worry about him, so you can rest easy. That's an Awesome Chess Camp guarantee.</h5>
    </div>
  </div>
  <div class="small-1 columns">
    &nbsp;
  </div>
  <div class="small-4 columns">
    <div id="img"><%= image_tag 'SeanHat.jpg' %></div>
  </div>
</div>