h3 {
	margin-top: 5%;
	margin-bottom: 20px;
}

th {
	text-align: left;
}

.curr-new {
	margin-top: 5%;
	margin-bottom: 20px;
}

.i-cont {
	margin-top: 10%;
}

.p-container {
	margin-top: 35%;
}