<% if @inactive_locations.empty? %>
	<div class="i-cont"><h3>No Inactive Locations</h3></div>
<% else %>
	<div class="i-cont"><h3>Inactive Locations</h3></div>
	<div class="panel clearfix">
		<ul class="side-nav">
			<% @inactive_locations.each do |location| %>
				<li><%= link_to "#{location.name}", location_path(location) %></li>
			<% end %>
		</ul>
	</div>
<% end %>