<% if @inactive_locations.empty? %>
	<!-- his styling: -->
	<div class="panel clearfix">
		<h5><em>There are no inactive locations</em></h5>
	</div>
<% else %>
	<div class="panel clearfix"> <!-- unnecessary if above? -->
		<h5>Inactive Locations</h5>
		<ul class="side-nav">
			<%= @inactive_locations.each do |location| %>
				<li><%= link_to "#{location.name}", location_path(location) %></li>
			<% end %>
		</ul>
	</div>
<% end %>